@import "../../pages/style";

body {
  margin: 0;
}

.header {
  align-items: center;
  background-color: $color-primary;
  display: flex;
  height: 50px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
}

.header__logo {
  color: #ffffff;
  font-family: bello-script;
  font-size: 26px;
  font-weight: normal;
  margin: auto;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 600px) {
  .header {
    height: 70px;
  }
}
