@import "../../shared/styles/main.scss";

.time-entries {
  align-items: center;
  display: flex;
  width: 100%;

  @media (min-width: 600px) {
    margin-top: 15px;
  }

  &__title{
    display: none;

    @media (min-width: 600px) {
      color: $color-text-dark;
      display: block;
      font-family: $font-primary;
      font-size: 24px;
      font-weight: 400;
      margin-right: auto;
    }
  }
}
