body {
    margin: 0;
}

.header {
    align-items: center;
    background-color: #4f88ef;
    display: flex;
    height: 50px;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100vw;
}

.header__logo {
    color: #ffffff;
    font-family: bello-script;
    font-size: 26px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

.menu-button {
    background-color: rgb(0,0,0,0);
    border: none;
    position: absolute;
    right: 12px;
}

.menu-button__icon--close {
    display: none;
}

.header--navigation-visible .menu-button__icon {
    display: none;
}

.header--navigation-visible .menu-button__icon--close {
    display: block;
}

.menu {
    background-color: #4f88ef;
    display: flex;
    height: 100vh;
    justify-content: center;
    padding-top: 50px;
    position: fixed;
    top: 50px;
    transform: translate(100%, 0);
    transition: transform 0.3s ease-in-out;
    width: 100vw;
}

.header--navigation-visible .menu {
    transform: translate(0, 0);
}

.menu__list {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.menu__link {
    color: #ffffff;
    text-decoration: none;
}

.menu__item {
    border-radius: 5px;
    font-family: proximanova;
    font-size: 24px;
    list-style-type: none;
    margin: 15px 0;
    padding: 5px 0;
    text-align: center;
}

.menu__item--active {
    background-color: #1166a5;
}

.profile {
    display: none;
}

@media (min-width: 600px) {
    .header {
        height: 70px;
    }

    .header__logo {
        display: none;
    }

    .menu {
        height: 70px;
        padding-top: 0;
        top: 0;
        transform: translate(0, 0);
    }

    .menu-button {
        display: none;
    }

    .menu__list {
        align-items: center;
        flex-direction: row;
        height: 70px;
        margin: 0px;
        position: absolute;
        left: 25px;
    }

    .menu__item {
        font-size: 14px;
        margin: 0 20px;
        padding: 5px 10px;
    }

    .profile {
        display: flex;
        flex-direction: row;
        position: fixed;
        right: 25px;
        top: 15px;
    }

    .profile__button {
        background-color: #ffffff;
        border: 0;
        border-radius: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2px;
        width: 135px;
    }

    .profile__logo {
        height: 32px;
        padding: 0 10px;
        width: 90px;
    }

    .profile__picture {
        border-radius: 50%;
        height: 32px;
        width: 32px;
    }

    .dropdown {
        all: unset;
        margin: 0 0 0 10px;
    }
}
