$color-primary-blue: #4f88ef;
$color-primary-white: #ffffff;

$color-secondary-active: #1166a5;

$color-button-gradient: linear-gradient(#39b54a, #34aa44);
$color-button-border: #249533;

$color-transparant: #ffffff00;


