$color-primary-blue: #4f88ef;
$color-primary-white: #ffffff;

$color-secondary-active: #1166a5;
$color-secondary-accent: #4f88ef;

$color-text-light: #7f8fa4;
$color-text-medium: #68768c;
$color-text-dark: #354052;

$color-button-gradient: linear-gradient(#39b54a, #34aa44);
$color-button-border: #249533;
$color-button-form: #35ac45;

$color-form-background: #f5f8fa;
$color-form-border: #e6eaee;

$color-input-border: #ced0da;
$color-input-gradient: linear-gradient(#f2f4f7, #ffffff);

$color-support-light: #dfe3e9;

$color-transparant: #ffffff00;
