@import "../../../shared/styles/main.scss";

.new-entry-button {
  background-image: $color-button-gradient;
  border-color: $color-button-border;
  border-radius: 4px;
  color: $color-primary-white;
  font-family: $font-primary;
  font-size: 14px;
  height: 36px;
  margin: 20px 0 5px;
  width: 343px;

  &__icon {
    padding-right: 10px;
  }
}

@media (min-width: 600px) {
  .new-entry-button {
    display: none;
  }
}
