$color-grey: #7f8fa4;

.page-header-bar {
  display: none;
}

@media (min-width: 600px) {
  .page-header-bar {
    align-items: center;
    border-bottom: 1px #e6eaee solid;
    display: flex;
    height: 70px;
    margin-top: 70px;
    width: 100vw;

    &__title {
      font-family: proximanova;
      font-size: 18px;
      margin: 19px 15px 19px 30px;
    }

    &__divider {
      color: #dfe3e9;
      font-size: 14px;
    }

    &__number {
      color: #7f8fa4;
      font-family: proximanova;
      font-size: 14px;
      margin-left: 15px;
    }

    &__search {
      border: 1px #dfe3e9 solid;
      border-radius: 4px;
      height: 36px;
      margin: 0 32px 0 auto;
      width: 270px;
    }
  }
}
