.main {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  padding: 0 16px;

  @media (min-width: 600px) {
    margin: auto;
    max-width: 1200px;
    padding: 0 50px;
  }
}
