$color-text-white: #ffffff;

.new-entry-button {
  background: linear-gradient(#39b54a, #34aa44);
  border-color: #249533;
  border-radius: 4px;
  color: $color-text-white;
  font-family: proximanova;
  font-size: 14px;
  height: 36px;
  margin: 20px 0 5px;
  width: 343px;

  &__icon {
    padding-right: 10px;
  }
}

@media (min-width: 600px) {
  .new-entry-button {
    display: none;
  }
}
